{% extends "base.html" %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
  <div class="auth-form-wrapper">
    {% if validlink %}
      <form class="auth-form" method="post">
        <h1 class="h3 mb-3 fw-normal text-center">Password Reset Confirm</h1>
          {% include "users/partials/form.html" %}
        <button type="submit" class="btn btn-lg btn-primary w-100">Confirm password</button>
      </form>
    {% else %}
      <div class="card auth-card">
        <div class="card-body">
          <h5 class="card-title">Invalid Link</h5>
          <p class="card-text">The password reset link is no longer valid. Please request a new link <a href="{% url 'users:password_reset' %}" class="text-decoration-none text-primary">here.</a></p>
          <a href="{% url 'users:login' %}" class="text-decoration-none text-primary">Log In</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}