{% extends "base.html" %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
  <div class="auth-card-wrapper">
    <div class="card auth-card">
      <div class="card-body">
        <h5 class="card-title">Reset Instructions Sent</h5>
        <p class="card-text">An email has been sent to the provided email address if the email address is associated with a user on this site.</p>
        <p class="card-text">Please follow the instructions to reset your password.</p>
        <p><a href="{% url 'users:login' %}" class="card-link text-decoration-none text-secondary">Log In</a></p>
        <a href="{% url 'users:register' %}" class="card-link text-decoration-none text-primary">Create an account</a>
      </div>
    </div>
  </div>
{% endblock %}